main {

    a {
        position: fixed;
        top: 16px;
        left: 16px;
    }

    section {
        background-color: ghostwhite;
        width: 50%;
        margin: 55px auto;
        padding: 32px;

        font-family: Arial, Helvetica, sans-serif;
    }

}